<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Pendientes</title>
    <link rel="stylesheet" href="/css/Carpintero/pendientes.css">
    <link rel="stylesheet" href="/css/Carpintero/material.css">
    <link rel="stylesheet" href="/css/Carpintero/Reseñas.css">
    <link rel="stylesheet" href="/css/Carpintero/style.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/6adaba3b1c.js" crossorigin="anonymous"></script>
</head>
<body>
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3><span>Carpintero</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile">
                <h4 th:text="${#authentication.principal.username}"></h4>
                <small>Carpintero</small>
            </div>  

            <div class="side-menu">
                <div class="contenedor-icono">
                <li>

                    <a href="/Carpintero/Index">
                        <span class="#"><i class="bi bi-house"></i></span><small>Inicio</small>
                    </a>

                    </li>
                    <li>

                    <a href="/Carpintero/Ordenes">
                        <span class="#"><i class="bi bi-person-lines-fill"></i></span><small>Ver Ordenes</small>
                    </a>

                    </li>
                    
                    <li>

                    <a href="/Carpintero/Pendientes">
                        <span class="#"><i class="bi bi-person-exclamation"></i></span><small>Pendientes</small>
                    </a>
                        
                    </li>
                    <li>

                    <a href="/Carpintero/Actividad">
                        <span class="#"><i class="bi bi-tools"></i></span><small>Actividad</small>
                    </a>
                        
                    </li>
                    <li>

                    <a href="/Carpintero/Materiales">
                        <span class="#"><i class="bi bi-pencil-square"></i></span><small>Materiales</small>
                    </a>

                    </li>
                    <li>

                    <a href="/Carpintero/Reseñas">
                        <span class="#"><i class="bi bi-stars"></i></span><small>Reseñas</small>
                    </a>

                    </li>
                    <li>

                    <a href="/Carpintero/Estadisticas">
                        <span class="#"><i class="bi bi-bar-chart"></i></span><small>Estadisticas</small>
                    </a>

                    </li>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="main-content">
        
        <header>
            <div class="header-content">

                <label for="menu-toggle">
                    <span class="las la-bars">WJ CARPINTERIA</span>
                </label>
                
                <div class="header-menu">
                    
                    <div class="boton-modal">
                        <label href="#" for="btn-modal" class="fa-solid fa-bell"></label>
                    </div>
                    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <h2>Lo siento</h2>
            <p>Aun no tienes notificasiones nuevas</p>
            <div class="btn-cerrar">
                <label for="btn-modal">Cerrar</label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>
                    
                    <div class="notify-icon">
                        <a class="fa-solid fa-right-to-bracket" th:href="@{/logout}"></a>
                    </div>
                </div>
            </div>
        </header>
        
        
        <main>

                <div class="records table-responsive">
                                <div class="full-boxer">

                
    
                                    <div class="comment-box">
                    <div class="box-top">
                        <div class="Profile">
                            <div class="profile-image">
                                <img src="/img/Carpintero/3.jpeg">
                            </div>
                            <div class="Name">
                                <strong>Ranidi Lochana</strong>
                                <span>@Ranidi Lochana</span>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-imagen">
                        <img src="/img/Carpintero/mueble.jpg" width="300" height="200" align="center">
                       </div>
                    <div class="comment">
                       
                         <li><b>Producto:</b> Cómoda de cerezo</li>
                        <li><b>Color:</b> Marrón oscuro</li>
                        <li><b>Tamaño:</b> Grande</li>
                        <li><b>Medidas:</b> 120cm x 50cm x 80cm</li>
                        <li><b>Precio unitario: </b> $300,000 COP</li>
                        <li><b>Costo de instalación: </b> $60,000 COP</li>
                        <li><b>Total: </b> $360,000 COP</li>
                       <br>
                                        <div class="boton-modal">
                        <label href="#" for="btn-modal">Reembolsar</label>
                    </div>
                    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <h2>¡Mal hecho!</h2>
            <p>Se te ha descontado $250</p>
            <div class="btn-cerrar">
                <label for="btn-modal">Cerrar</label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>
                                    </td>
                       </div>
                     </div>
                   
                       <div class="comment-box">
                    <div class="box-top">
                        <div class="Profile">
                            <div class="profile-image">
                                <img src="/img/Carpintero/persona1.jpg">
                            </div>
                            <div class="Name">
                                <strong>Ranidi Lochana</strong>
                                <span>@Ranidi Lochana</span>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-imagen">
                        <img src="/img/Carpintero/silla.jpg" width="300" height="200" align="center">
                       </div>
                    <div class="comment">
                       
                         <li><b>Producto:</b> Cómoda de cerezo</li>
                        <li><b>Color:</b> Marrón oscuro</li>
                        <li><b>Tamaño:</b> Grande</li>
                        <li><b>Medidas:</b> 120cm x 50cm x 80cm</li>
                        <li><b>Precio unitario: </b> $300,000 COP</li>
                        <li><b>Costo de instalación: </b> $60,000 COP</li>
                        <li><b>Total: </b> $360,000 COP</li>
                       <br>
                                        <div class="boton-modal">
                        <label href="#" for="btn-modal">Reembolsar</label>
                    </div>
                    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <h2>¡Mal hecho!</h2>
            <p>Se te ha descontado $250</p>
            <div class="btn-cerrar">
                <label for="btn-modal">Cerrar</label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>
                                    </td>
                       </div>
                     </div>
                   
                </div>
            </div>
        </main>
        
    </div>
</body>
</html>